@import './transitions.scss';

body {
  color: $primary-color;
  font-size: 14px;
}

.child-page {
  padding: 40px 15px 15px 15px;
  background-color: $background-color-third;
  h1 {
    padding-bottom: 20px;
  }
}
